<h1><% title %></h1>
<%- messages() %>
<% if (locals.accountData.account_type == 'Client') { %>
    <h2>Welcome, <%- locals.accountData.account_firstname %></h2>
    <p>You're Logged In</p>
    <a href="/account/update-account">Update Account Information</a>
    <% } else if (locals.accountData.account_type == 'Employee') { %>
        <h2>Welcome, <%- locals.accountData.account_firstname %></h2>
        <p>You're Logged In</p>
        <a href="/account/update-account">Update Account Information</a>
        <h3>Inventory Management</h3>
        <a href="/inv">Click Here To Manage Inventory</a>
        
    <% } else {%>
        <h2>Welcome, <%- locals.accountData.account_firstname %></h2>
        <p>You're Logged In</p>
        <a href="/account/update-account">Update Account Information</a>
        <h3>Inventory Management</h3>
        <a href="/inv">Click Here To Manage Inventory</a>
        <h4>Account Permissions</h4>
        <a href="/account/account-permissions">Click to Manage Account Permissions</a>
    <% } %>