
        <section class="intro">
            <h1>Welcome to CSE Motors!</h1>
            <%- messages() %>
            <div class="hero">
                <div id="hero-box">
                    <img id="hero-image" src="./images/vehicles/delorean.jpg" alt="DMC Delorean">
                </div>
                <div id="hero-info">
                    <h2>DMC Delorean</h2>
                    <ul>
                        <li>3 Cup holders</li>
                        <li>Superman doors</li>
                        <li>Fuzzy dice!</li>
                    </ul>
                    <a href="/" class="cta-button"><img src="./images/site/own_today.png" alt=""></a>
                </div>
            </div>
        </section>
        <div id="bigview-grid">
            <section class="reviews">
                <h3>DMC Delorean Reviews</h3>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </section>
            <section class="upgrades">
                <h3>Delorean Upgrades</h3>
                <div id="upgrades-container">
                    <div class="upgrade-item">
                        <div class="upgrade-item-img">
                            <img src="./images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        </div>
                        <a href="/">Flux Capacitor</a>
                    </div>
                    <div class="upgrade-item">
                        <div class="upgrade-item-img">
                            <img src="./images/upgrades/flame.jpg" alt="Flame Decals">
                        </div>
                        <a href="/">Flame Decals</a>
                    </div>
                    <div class="upgrade-item">
                        <div class="upgrade-item-img">
                            <img src="./images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                        </div>
                        <a href="/">Bumper Stickers</a>
                    </div>
                    <div class="upgrade-item">
                        <div class="upgrade-item-img">
                            <img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps">
                        </div>
                        <a href="/">Hub Caps</a>
                    </div>
                </div>
            </section>
        </div>
