<h1><%- title %></h1>
<%- messages() %>

<ul id="managementUL">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>
<h2>Manage Inventory</h2>
<p>Select a Classification from the List.</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>